/* ------------------------------------------
  Typography
---------------------------------------------*/
body {
  color: #333;
  overflow-x: hidden;
  }
body.
 {
  overflow-y: hidden;
  }
body,
textarea,
input {
  font: 14px/21px 'Open Sans',Helvetica,freesans,clean,sans-serif;
  }
pre,
code { font:normal 12px/20px monospace; }

h1,h2,h3,h4,h5,h6 {
  font-weight:700;
  margin: 1em 0;
  }
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
   color:#000;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #333;
  }
h1 {
  font-size: 28px;
  line-height: 28px;
  }
h2 {
  font-size: 18px;
  line-height: 22px;
  }
h3 {
  margin: 0 0 10px;
  font-size: 14px;
  line-height: 20px;
  }
small {
  font-size: 11px;
  color: #999;
  display: block;
  }
a {
  color: #111;
  text-decoration:none;
  }
p {
  margin: 0;
  }
strong {
  font-weight:700;
  }
sup {
  font-size: 11px;
  vertical-align: top;
  position: relative;
  top: -3px;
  }

/* ------------------------------------------
  Layout
---------------------------------------------*/
#masthead {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  -moz-box-shadow: 0 0 7px #888;
  -webkit-box-shadow: 0 0 7px #888;
  box-shadow: 0 0 7px #888;
  z-index: 15;
  }
#map {
  height:260px;
  width: 278px;
  border: 1px solid #ccc;
  border-radius: 3px;
  }
.intro {
  height:580px;
  margin-top:-580px;
}

#form-layout {
  position:absolute;
  top: 75px;
  left:80px;
  width: 50%
}

#form-layout .text-box {
	float: right;
	margin-right: 120px;
	padding: 4px 0 0 4px;
	display:block;
    background:#f6f6f6;
	width: 250px;
}

#maincontent {
  position: relative;
  left: 0;
  width: 100%;
  }
#screencast {
  position: absolute;
  left: 0;
  height: 100%;
  width: 608px;
  }
#framing {
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
  width: 352px;
  }
#submit {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 230px;
  width: 352px;
  }
.graph p{
    color:#fff;
    padding:10px 0 0 10px;
    margin-top:-110px;
    height:100px;
    background:rgba(0,0,0,0.4);
}
.contribute {
  padding: 30px 0px;
  font-size: 14px;
  line-height: 24px;
  }
  .contribute p a{
      text-decoration:underline;
  }
  .contribute .padding {
    position: relative;
    padding: 0 15px 5px;
    }
  .submit-story .padding {
    margin-right: 5px;
    }
  .download-data .padding {
    margin-left: 5px;
    }
  .contribute a.button {
    margin-bottom: 20px;
    }
#footer {
  position: relative;
  text-align: center;
  background: #fff;
  z-index: 10;
  }
  #footer .limiter {
      border-top:1px solid #ccc;
      padding:20px 0;
  }
.mapbrowser #footer,.stories #footer {
  display: none;
  }

.limiter {
    position: relative;
    width: 960px;
    margin: 0 auto;
    background: none;
}

.about-text {
    position:absolute;
    top:10px;
    right:0;
    margin-left:auto;
    width: 266px;
    padding:0px 24px 10px;
    text-shadow:1px 1px #ccc;
    background:#fff;
    background:rgba(255,255,255,0.8);
    border-radius:5px;
}

.about-text h2 {
    font-size: 18px;
    line-height: 28px;
}

.about-text p {
    font-size: 14px;
    line-height: 24px;
}

.col {
  float: left;
  }
.col-2 {
  width: 50%;
  }

/* ------------------------------------------
  Header/Navigation
---------------------------------------------*/
#masthead .title {
  position: absolute;
  left: 0;  
  }
#masthead .title h2 {
  float:left;
  letter-spacing: 2px;
  margin-top: 15px;  
  font-size: 18px;
  line-height: 22px;
  }
#masthead .sub-title {
  float:right;
  margin-left:15px;
  letter-spacing: 2px;
  margin-top: 15px;  
  font-size: 18px;
  line-height: 22px;   
  background:rgba(255,255,255,0.8);
  color:rgba(130,9,9,0.8);  
  }
#nav {
  position: absolute;
  right: 0;
  }
#nav a {
  font-weight:700;
  font-size: 12px;
  display: block;
  float: right;
  width: 100px;
  margin:8px 0 0 8px;
  padding:8px 0px;
  text-align: center;
  background:#f6f6f6;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
  }
#nav a:hover, #nav a.active {
  color:#fff;
  background-color: #374555;
  }
#nav .enter-form {
  position: relative;
  width: 175px;
  right: 25px;
}
#nav .view-data {
  position: relative;
  width: 125px;
  right: 25px;
}
#nav .issues {
  position: relative;
  width: 125px;
  right: 25px;
}
#intro-text .bignum {
  color: #b40000;
  }
#footer a {
  background: url(../img/sprite.png) 0 0 no-repeat;
  display: inline-block;
  vertical-align: middle;
  height: 50px;
  margin-left: 15px;
  text-indent: -9999px;
  }
#footer a.devseed {
  background-position: -250px -20px;
  width: 61px;
  }
#footer a.sdn {
  background-position: -170px -20px;
  width: 54px;
  }
#footer a.revwatch {
  background-position: -70px -20px;
  width: 78px;
  }
#footer a.frn {
  background-position: 0px -20px;
  width: 51px;
  margin-left: 40px;
  }
.layers li {
  float: left;
  margin: 0 0 0 3px;
  }
  .layers li:first-child {
    margin: 0;
    }

.layers a {
  display: block;
  padding: 5px 15px;
  background: #1d7fad;
  background: rgba(0,0,0,0.15);
  color: #fff;
  height: 25px;
  line-height: 25px;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  }
  .layers a:hover,
  .layers a:focus {
    background: #1d7fad;
    background: rgba(0,0,0,0.25);
    }
  .layers li.active a {
    background: #fff;
    color: #202020;
    }

#content {
  font-size: 13px;
  line-height: 20px;
  }
  #content .section a:hover {
    text-decoration: underline;
    }
.story {
  display: none;
  padding: 15px 0;
  }
  .story a {
    font-weight: 500;
    }
  .story.active {
    display:block;
    }

/*Sub Navigation per story*/
.subnav {
  position: relative;
  }
.subnav .section {
  position: absolute;
  left: 130px;
  top: 2px;
  }

.subnav li {
  margin-bottom: 1px;
  }
.subnav li a.section-name {
  display: block;
  width: 99px;
  padding: 5px 8px;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  }
  .subnav li.active a.section-name {
    background: #202020;
    color: #fff;
    }

.subnav li .section {
  display: none;
  }
  .subnav li.active .section {
    display: block;
    }
.section ul {
  margin-bottom: 8px;
  }
.section ul li {
  float: left;
  }
  ul li a.toggle {
    display: block;
    font-weight: bold;
    padding: 2px 0;
    text-align: center;
    background: #cfcfcf;
    width: 80px;
    color: #fff;
    margin-right: 1px;
    }
    #content a.toggle.active:hover,
    #content a.toggle.active {
      background: #202020;
      color: #fff;
      }
    #content a.toggle:hover {
      background: #b0b0b0;
      text-decoration: none;
      }

/* ------------------------------------------
  Map Styling
---------------------------------------------*/
.share,
.close,
.zoomer,
.wax-share div,
.wax-share .twitter,
.wax-share .facebook {
  display:block;
  position:absolute;
  border:1px solid #ccc;
  background:#fff;
  border-radius:5px;
  -moz-border-radius:5px;
  box-shadow:rgba(0,0,0,0.1) 0 1px 3px;
  -moz-box-shadow:rgba(0,0,0,0.1) 0 1px 3px;
  }

/* ### Tooltips, legends ### */
.wax-legends {
  position: absolute;
  z-index: 10000;
  left: 470px;
  bottom: 15px;
  background: #f2f2f2;
  background: rgba(255,255,255,.9);
  max-width: 280px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  max-height: 130px;
  padding: 8px 10px;
  width: 220px\9; /* IE 8 and below */
  color: #282828;
  }
.wax-legend {
  position: relative;
  }
.close,
.zoomer {
  text-indent: -999em;
  background-image: url(../img/controls.png);
  background-position: 60px 60px;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 28px;
  height: 28px;
  z-index: 2;
  top: 0;
  left: 0;
  }
  .close:active,
  .zoomer:active {
    border-color: #bbb;
    box-shadow:inset rgba(0,0,0,0.1) 0 1px 3px;
    -moz-box-shadow:inset rgba(0,0,0,0.1) 0 1px 3px;
    }
  .zoomin {
    background-position: -31px -1px;
    border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    left: 0;
    }
  .zoomout {
    left: 29px;
    background-position:-61px -1px;
    border-radius:0 3px 3px 0;
    -moz-border-radius:0 3px 3px 0;
    }
.close {
  top: 4px;
  right: 4px;
  width: 18px;
  height: 18px;
  background-position: -6px -6px;
  }
.wax-tooltip  {
  background-color: #202020;
  background-color: rgba(0,0,0,0.75);
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  width: 220px;
  padding: 10px;
  position: absolute;
  z-index: 15000;
  top: 15px;
  right: 20px;
  }

/*Wax tooltip reset*/
.wax-tooltip h1,
.wax-tooltip h2,
.wax-tooltip h3,
.wax-tooltip h4,
.wax-tooltip h5,
.wax-tooltip h6 {
  font: 13px/20px 'Open Sans',Helvetica,arial,freesans,clean,sans-serif;
  margin: 0;
  padding: 0;
  }
.wax-tooltip h4.int-title,
.wax-tooltip h5.int-stat {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 14px;
  }
.wax-tooltip h4.int-title {
  margin-bottom: 10px;
  color: #fff;
  }
.wax-tooltip h5.int-stat {
  color: inherit;
  }
.wax-tooltip span.int-value {
  display: block;
  font-weight: 200;
  text-transform: none;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 10px;
  color: #fff;
  }
.wax-tooltip {
	top:auto;
  bottom: 20px;
  left: 20px;

}

/* ### Legend Styling Overrides ### */
body .wax-legend .scale ul li {
  margin: 0;
  }
body .wax-legend .title {
  margin: 0 0 4px;
  }
body .wax-legend ul.labels li,
body .wax-legend ul.labels li span {
  width: 40px;
  }
body .wax-legend ul.labels li span {
  height: 10px;
  }
body .wax-legend .scale ul li {
  font-size: 10px;
  }

/* ### Attribution ### */
.wax-attribution {
  font-size: 10px;
  position: absolute;
  z-index: 10000;
  bottom: 5px;
  right: 10px;
  }
  body .wax-attribution a,
  body .wax-legend a {
    color: #202020;
    font-weight: 500;
    }

.wax-share {
  background: #666;
  background: rgba(32,32,32,0.75);
  position: absolute;
  width: 100%;
  height: 100%;
  top:0; left: 0; right:0; bottom: 0;
  z-index: 500000;
  }
.share {
  left: 10px;
  top: 94px;
  width: 59px;
  height: 23px;
  font-weight: bold;
  line-height: 24px;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  background: #333;
  background-color: rgba(0,0,0,0.75);
  color: #fff;
  border: none;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  z-index: 1000;
  }
  .share:hover {
    color: #fff;
    background-color: #000;
    background-color: rgba(0,0,0,0.90);
    }
  .zoompan .share { top:45px; }
.wax-share div {
  right: 50%;
  top: 50%;
  margin: -120px -180px 0px 0px;
  padding: 20px;
  width: 320px;
  height: 200px;
  overflow: hidden;
  z-index: 1000;
  }
 .wax-share small { color:#999; }
 .wax-share textarea {
    display:block;
    font:normal 10px/15px Arial,sans-serif;
    resize:none;
    border:1px solid #ccc;
    padding:4px;
    width:310px;
    }
 .wax-share .twitter,
 .wax-share .facebook {
    display:inline-block;
    position:relative;
    padding:2px 18px;
    margin-right:10px;
    background:#fff;
    color:#fff;
    font-weight:bold;
    border:2px solid #ccc;
    }
 .wax-share .twitter {
    background:#0ac;
    border-color:#4ce;
    }
 .wax-share .facebook {
    background:#359;
    border-color:#68c;
    }

.mapbox-watermark {
  background:url(../img/controls.png) 0px -90px no-repeat;
  position: absolute;
  left: 500px;
  bottom: 5px;
  z-index: 1000;
  display: block;
  width: 65px;
  height: 20px;
  text-indent: -999em;
  overflow: hidden;
  }
.attribution .mapbox-watermark { bottom:25px; }
.mmg-default {
  width:20px;
  height:40px;
  background:url(../img/controls.png) -120px -30px;
  left:-10px;
  top:-30px;
  }

/* Animation */
.map-tile-loaded {
  -webkit-animation-name:fade-in;
  -moz-animation-name:fade-in;
  -ms-animation-name:fade-in;
  -o-animation-name:fade-in;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  -ms-animation-timing-function:linear;
  -o-animation-timing-function:linear;
  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  -ms-animation-duration:0.2s;
  -o-animation-duration:0.2s;
  }
@-webkit-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-ms-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fade-in { from { opacity:0; } to { opacity:1; } }

/*  -------------------------------------------------------
 *  Little Helpers
 *  ------------------------------------------------------- */
.icon {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
  text-indent: -999em;
  width: 20px; height: 20px;
  }

/* ---- Story page -------*/
#story-bkg {
    position:absolute;
}

#all-stories {
    margin:30px 0;
}
#story-about {
    position:relative;
    background:none;
    border-left:1px dashed #ddd;
    border-right:1px dashed #ddd;
    border-radius:16px;
    -moz-border-radius: 16px;
}
.story-panel {
    width:920px;
    height:300px;
    margin-bottom:20px;
    background:#f6f6f6;
    padding:20px;
    border-radius: 3px;
     -moz-border-radius: 3px;
     -moz-transition: background-color 0.3s linear;
     -o-transition: background-color 0.3s linear;
     -webkit-transition: background-color 0.3s linear;
     transition: background-color 0.3s linear;
}

.story-panel:hover {
    background:#ddd;
}

.story-panel > div {
    float:left;
}
.story-text {
    width:460px;
    padding:0 30px 0 0;
}

.story-text h2 {
}

.story {
    margin:10px 0;
    display:block;
    height:280px;
    width:420px;
    -moz-box-shadow: 0 0 16px #a5a5a5;
    -webkit-box-shadow: 0 0 16px #a5a5a5;
    box-shadow: 0 0 16px #a5a5a5;
}

#map-control { display: none;}

legend { padding: 1em 0 0.5em; margin: 0; }
.form-actions { background-color: #f6f6f6; }